**Topics**

1] List
    i. Commonly used
    ii.sortable
    iii.Mutable (can add or Change)
2] Tuples
    i. Immutable
    ii. Useful where the data doesn't change
    iii. Sequence Type

1a. Creating a List

In [4]:
companies = ["Apple", "Microsoft", "Google", "Amazon"]
type(companies)

list

1b. Reading the elements

In [5]:
print(companies[2])

Google

1c. Negative indexing mean

In [6]:
print(companies[-2])

Google

1d. Range of values and with negative indexing

In [7]:
print(companies[1:3])

['Microsoft', 'Google']

In [8]:
print(companies[-3:])

['Microsoft', 'Google', 'Amazon']

In [9]:
print(companies[0:3:2])

['Apple', 'Google']

1e. Adding an item (Append and Insert)

In [10]:
companies.append("Tesla")
print(companies)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']

In [13]:
companies.insert(2, "Facebook")
print(companies)

['Apple', 'Microsoft', 'Facebook', 'Facebbok', 'Facebbok', 'Google', 'Amazon', 'Tesla']

1f. Remove, deleting and pop

In [17]:
companies.remove("Facebbok")
print(companies)

['Apple', 'Microsoft', 'Facebook', 'Google', 'Amazon', 'Tesla']

In [18]:
companies.append("Tesla")
print(companies)

['Apple', 'Microsoft', 'Facebook', 'Google', 'Amazon', 'Tesla', 'Tesla']

In [19]:
del companies[6]
print(companies)

['Apple', 'Microsoft', 'Facebook', 'Google', 'Amazon', 'Tesla']

In [20]:
companies.pop(2)
print(companies)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']

1g. Copy a list - why?

In [21]:
companies1 = companies
companies2 = companies.copy() # copy() fucntion hold the data from at that time you use this function.
print(companies1 is companies)
print(companies2 is companies)

True
False

In [22]:
print(companies1)
print(companies2)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']
['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']

In [24]:
companies.append("IBM")
print(companies1)
print(companies2)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla', 'IBM']
['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']

1h. Combine Lists

In [26]:
companies3 = companies1 + companies2
print(companies3)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla', 'IBM', 'Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla']

In [27]:
companies3 = companies1 + companies2 + ["Adobe"] 
print(companies3)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla', 'IBM', 'Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla', 'Adobe']

1i. Sorting

In [29]:
print(sorted(companies))

['Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Tesla']

1j.Clearing the list

In [30]:
companies3.clear()
print(companies)

['Apple', 'Microsoft', 'Google', 'Amazon', 'Tesla', 'IBM']

1k. Other Operation

In [31]:
fruits = ["Apple", "Banana", "Cherry", "Orange"]
print(fruits*3)

['Apple', 'Banana', 'Cherry', 'Orange', 'Apple', 'Banana', 'Cherry', 'Orange', 'Apple', 'Banana', 'Cherry', 'Orange']

In [32]:
print(max(fruits))

Orange

2a. Tuples

In [33]:
animals = ("Tiger", "Lion", "Monkey", "zebra")
print(animals[0])

Tiger

In [34]:
animals[0] = "Deer" # Tuple does not support changes
print(animals)

TypeError: 'tuple' object does not support item assignment

In [35]:
del animals[1] # Tuple does not support deletion

TypeError: 'tuple' object doesn't support item deletion

In [40]:
animals1 = ("Tiger", "Lion", "Monkey", "zebra", [1, 2, 3], 1, 2)
print(animals1)
print(animals1[4])

('Tiger', 'Lion', 'Monkey', 'zebra', [1, 2, 3], 1, 2)
[1, 2, 3]

**Practice Homework**

Workout Example to try
    1] Create a list
    2] Print the 3rd item from last from the above list created
    3] Append few additional values to the list
    4] Multiple this list by 2 and see what happens
    5] Create a tuple and check if you can delete the tuple

1] Create a list

In [42]:
cars = ["Swift", "polo", "i20", "Magnite"]

 2] Print the 3rd item from last from the above list created

In [43]:
print(cars[-3])

polo

3] Append few additional values to the list

In [44]:
cars.append("Alto")
print(cars)

['Swift', 'polo', 'i20', 'Magnite', 'Alto']

4] Multiple this list by 2 and see what happens

In [45]:
print(cars*2)

['Swift', 'polo', 'i20', 'Magnite', 'Alto', 'Swift', 'polo', 'i20', 'Magnite', 'Alto']

5] Create a tuple and check if you can delete the tuple

In [46]:
bikes = ("CBR 100r", "Kawasaki z800", "Super Duke")
del bikes[2]  # Tuple does not support deletion

TypeError: 'tuple' object doesn't support item deletion