 Topics
 
 1] Numeric data type
 2] Boolean
 3] Operators

1a. Define variable and find data type

In [4]:
input1 = 20 
print(type(input1))
input2 = 20.23
print(type(input2))

<class 'int'>
<class 'float'>

1b. Casting(Changing) to a different datatype

In [7]:
input3 = float(intput1)
print(input3)

20.0

In [9]:
input4 = int(input2)
print(input4)

20

In [10]:
#what if it is 20.90
input5 = 20.90
input6 = int(input5)
print(input6)

20

2.Boolean Operator

In [11]:
print(input1 > input2)

False

In [12]:
print(input1 < input2)

True

In [17]:
print(bool(input1))

True

In [16]:
a = None
print(bool(a))

False

In [18]:
input3 = [1,3,3,4,5,5]
print(bool(input3))

True

In [21]:
input4 = []
print(bool(input4))

False

3a. Arthimetic Operator
Addition, Substraction, Multiplication, Division, mod and exp

In [26]:
a = 2
b = 6
print(a-b)
print(a+b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

-4
8
12
64
0.3333333333333333
0
2

3b. Assignment Operator

In [27]:
x = 10
x -= 3 #x=x-3
print(x)

7

In [28]:
y = 10
y += 3 #y=y+3
print(y)

13

In [30]:
z = 10
z **= 3 #z=z*3 or z=z**3
print(z)

1000

3c. Comparison Operators

In [35]:
a = 3
b = 4
print(a == b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True

3d. Logical Operator

In [1]:
x = 5
print(x>10 and x<15)
print(x>10 or x<15)
#and or not

False
True

3e. is and in Operator

In [8]:
x = ['Addition', 'Multiplication', 'Substraction', 'Division']
y = ['Addition', 'Multiplication', 'Substraction', 'Division']
z = y
print(x is y)
print(z is y)

print("Addition" in y)
print("Multiplication" in x)

print(z)

False
True
True
True
['Addition', 'Multiplication', 'Substraction', 'Division']

*Practice Homework*

1.Create a float variable and convert it to integer.
2.Multple a float value with intger and check the data type of the resultant value.

In [3]:
# Solution of 1st
txt = 20.3
print(type(txt))

<class 'float'>

In [4]:
txt1 = int(txt)
print(type(txt1))

<class 'int'>

In [5]:
# Solution of 2nd
txt2 = 20.3
txt3 = 20
txt4 = txt2 * txt3
print(type(txt4))

<class 'float'>

In [6]:
# Solution of 3rd 
txt5 = 23
txt6 = 23.57
print(txt5 > txt6)

False